.col {
    height: 100%;
}

p {
    color: black;
}

#title {
    line-height: 100px;
    height: 100px;
    background: linear-gradient(90deg, lightblue 0%, rgb(52, 52, 245) 100%);
}

#dashboard {
    font-size: 50px;
    font-style: normal;
    color: azure;
    text-align: center;
}

h3 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(23, 23, 117);
}

h4 {
    font-size: 20px;
}

.forminput{
    border: solid 1px #000000;
    border-radius: 5px;
    height: 30px;
}

.card {
    height: 250px;
    width: 160px;
    margin: 2%;
    padding: 10px;

    background-color: rgb(193, 195, 211);
}


.imgs{
    height: 100px;
    width: 100%;
}

.imgDiv{
    height: 100px;
    width: 100%;
}

.sweather{
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.minTemp {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 20px;
    width: 85px;
    margin: 0%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.maxTemp {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0%;
    margin-bottom: 5px;
    margin-left: 5px;  
}

